<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style>
    .userInfo{
    width: 100%;
    height: 200px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.Avatar{
    width: 100px;
    height: 100px;
}
</style>

<body>

<header class="userInfo">
<img class="Avatar" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
    <h4>User Name</h4>
</header>
<div  class="userInfo">

</div>
<footer>
    <button>退出登录</button>
</footer>
</body>
</html>