<!doctype html>
<html lang="zh-CN">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    <script type="module" crossorigin src="{% static 'assets/index-Cuh69Br-.js'%}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-CJga_oJY.css'%}">
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
